.row
  .col-sm-6
    .jumbotron
      %h1 Local
      %p Local connects you with crafts people, artisans and freelancers in your area.


  .col-sm-6.col-xs-12.lead.text-center.well

    Search for someone specific using the form below, or enter your location here
    to see what offers we've got in your area.
    %hr
    = simple_form_for @search, html: {class: "form-horizontal"} do |f|
      .row
        .col-sm-12.col-xs-12
          .form-group
            %label.control-label.col-sm-4.col-sm-12
              Search in
            .col-sm-8
              = f.input :location, label: false, autofocus: true, input_html: {placeholder: "Newcastle, UK", class: "form-control"}
      .row
        .col-sm-12.col-ms-12.text-center
          = f.button :submit, "Search for offers", class: "btn-block"

.row
  .col-sm-6
    .panel.panel-primary
      .panel-heading
        .text-center
          %h3
            Do you want to search for something specific?
      .panel-body
        = simple_form_for @search, html: {class: "form-horizontal"} do |f|
          .row
            .col-sm-12.col-xs-12
              .form-group
                %label.control-label.col-sm-4.col-sm-12
                  I need a
                .col-sm-8
                  = f.association :industry, value_method: :id, label: false, input_html: {class: "form-control"}
          .row
            .col-sm-12.col-xs-12
              .form-group
                %label.control-label.col-sm-4.col-sm-12
                  in
                .col-sm-8
                  = f.input :location, label: false, input_html: {placeholder: "Newcastle, UK", class: "form-control"}
          .row
            .col-sm-12.col-ms-12.text-center
              = f.button :submit, "Search for supplier", class: "btn-block"



  .col-sm-6.col-xs-12.text-center
    .panel.panel-info
      .panel-heading
        %h3
          Or do you want to sell your services on Local?
      .panel-body
        = simple_form_for @supplier, url: sign_up_suppliers_path, html: {class: "form-horizontal"} do |f|
          .row
            .col-sm-12.col-xs-12
              .form-group
                %label.control-label.col-sm-4.col-sm-12
                  I am a
                .col-sm-8
                  = f.association :industry, value_method: :id, label_method: "supplier_name", label: false, input_html: {class: "form-control"}
          .row
            .col-sm-12.col-xs-12
              .form-group
                %label.control-label.col-sm-4.col-sm-12
                  in
                .col-sm-8
                  = f.input :address, label: false, input_html: {placeholder: "Newcastle, UK", class: "form-control"}
          .row
            .col-sm-12.col-ms-12.text-center
              = f.button :submit, "Sign up to Local", class: "btn-block"
