.row
  .col-md-3
    .text-muted
      Help text should live here.
  .col-md-9
    = simple_form_for @industry, html: {class: "form-horizontal"} do |f|

      = f.input :title
      = f.input :supplier_name
      = f.association :categories, as: :check_boxes

      .form-group
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), industries_path, class: 'btn btn-default'
