.row
  .col-sm-5
    .page-header
      %h1
        My Recent Searches
    .row
      .col-sm-12
        %ul.list-group
          - @searches.each do |search|
            %li.list-group-item
              = link_to search_path(search) do
                = "I searched #{search.location}"
                - unless search.industry.nil?
                  = "for #{search.industry.title.pluralize}"
              %span.badge.badge-info
                = "#{search.offer_ids.count} offers"
              %span.badge.badge-info
                = "#{search.supplier_ids.count} vendors"
