.row
  .col-md-12
    .page-header
      %h1
        Search Results

.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{href: "#suppliers", data: {toggle: "tab"}} Suppliers
      %li
        %a{href: "#offers", data: {toggle: "tab"}} Offers

    .tab-content
      #suppliers.tab-pane.active.fade.in
        %br
        .box.box-double-padding
          .box-header
            .lead.text-center
              Local suppliers in
              = @search.location

          .box-content
            - @results.each do |r|
              .col-md-4
                .panel.panel-default
                  .panel-body
                    %h3
                      = link_to r.name, supplier_path(r)
                    = r.description

      #offers.tab-pane.fade
        %br
        .box.box-double-padding
          .box-header
            .lead.text-center
              Offers in
              = @search.location

          .box-content
            - @offers.each do |o|
              .col-md-4
                .panel.panel-default
                  .panel-body
                    %h3
                      = link_to o.title, supplier_offer_path(o.supplier, o)
                    = o.details
